body {
    align-content: center;
}
.nosotros {
    display: flex;
    justify-content: center;
    width: 600px;
    height: 450px;
}

.imagenosotros {
    display: flex;
    justify-content: center;
}

